html, body{
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;

}

.calcbackground{
    width: auto;
    height: auto;

    background-color:  rgb(39, 39, 39) ;
    border-radius: 20px;

    margin: 0px;

    display: flex;
    align-items: center;

     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    flex-direction: column;
}
.display{
     overflow: hidden;
    width: 450px;
    height: 130px;

    border-radius: 10px;

    margin-top: 30px;

    background-color:rgb(86, 86, 86)  ;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    margin-left: 30px;
    margin-right: 30px;

    font-size: 50px;
    color: white ;
    font-family: Arial, Helvetica, sans-serif;

    text-align: right;
    
    display: flex;
    align-items: end;
    justify-content: right;
}
.buttons{
    margin: 20px;
    width: auto;
    height: auto;

    display: block;
    
   

   
}
.col{
    width: auto;
    height: auto;

    display: flex;
    gap: 10px;

         
}

.numbers{
    background-color: #305CDE;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    margin: 10px;
    text-align: center;

    border-radius: 10px;
    width: 80px;
    height: 80px;

    border: none;

    font-size: 20px;
    color: white ;
    font-family: Arial, Helvetica, sans-serif;

    cursor: pointer;
}   
.submit{
    padding: 20px;

    padding-left: 90px;
    padding-right: 90px;
    margin: 10px;

    text-align: center;
    border-radius: 10px;
    background-color: rgb(135, 62, 195);
    
    cursor: pointer;
    font-size: 20px;
    color: white ;
    font-family: Arial, Helvetica, sans-serif;

    border: none;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.operator{
    background-color: rgb(135, 62, 195);

    padding: 20px;

    margin: 10px;
    text-align: center;

    border-radius: 10px;
    border: none;

    width: 80px;
    height: 80px;

    cursor: pointer;
    font-size: 20px;
    color: white ;
    font-family: Arial, Helvetica, sans-serif;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.numbers:hover, .submit:hover, .operator:hover{
    opacity: 0.8;
}
.clear{
    background-color: rgb(135, 62, 195);
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    margin: 5px;
    text-align: center;

    border-radius: 10px;
    border: none;

    width: 200px;
    height: 30px;

    cursor: pointer;
    font-size: 20px;
    color: white ;
    font-family: Arial, Helvetica, sans-serif;

    margin-bottom: 20px;
}